<!DOCTYPE html>
<html>
  <head>
    <title>Generator Stron</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <h1>Formularz</h1>
    <form method="POST">
      <label>Nazwa Szachisty:</label><br />
      <input type="text" name="title" required /><br /><br />

      <label>Krótki opis do 500 znaków:</label><br />
      <textarea name="description" rows="4" cols="50" required></textarea
      ><br /><br />

      <label>Link z wieksza iloscia wiadomosci o szachiście:</label><br />
      <textarea name="links" rows="6" cols="50"></textarea><br /><br />

      <label>Najciekawsze partie (max 3 linki, po jednym na lini):</label><br />
      <textarea name="best_games" rows="4" cols="50"></textarea><br /><br />

      <button type="submit">Generuj</button>
    </form>
  </body>
</html>
